@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron&family=Turret+Road&family=Zen+Dots&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
}
/* 
!check this
*/
*:focus {
    outline: none;
} 

/* allow thick red focus border for accessibility, only visible when tabbing by keyboard. do i need to conider other accessibility methods? */
*:focus:focus-visible {
    outline: #EC1C24 outset 0.3rem;
}
/* font-size setting means rem*10=px */
html {
    font-size: 62.5%;
}   
body {
    font-size: 1.6rem;
    font-family: "Orbitron", Verdana, sans-serif;
    min-width: 32rem;
}
a {
    text-decoration: none;
    color: inherit;
}
button:hover {
    cursor: pointer;
}
/* nav menu */
nav{
    position: fixed;
    z-index: 2;
    top: 2.5rem;
    left: 2rem;
    font-size: 3rem;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 0.15rem;
    color: #1421DA;
}
nav span {
    visibility: hidden;
    display: none;
    margin-left: -1rem;
    text-shadow: none;
}
nav i {
    font-size: smaller;
    width: 5rem;
    text-align: center;
    margin-left: 0.5rem;
    color: #EC1C24;
    text-shadow: 0.1rem 0.1rem 0.3rem #1421DA;
}
nav li {
    list-style-type: none;
}
nav li:first-of-type {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}
nav li ul {
    visibility: hidden;
    display: none;
}
nav li:hover {
    cursor: pointer;
}
#burger {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-shadow: -0.3rem 0.3rem 0.4rem #EC1424;
    font-size: 3rem;
    color: #1421DA;
}
/* navigation text appear */
nav *:hover span {
    color: #EC1C24;
    visibility: visible;
    display: inline;
    text-shadow: 0.1rem 0.1rem 0.3rem #1421DA;
}
nav *:focus-within span {
    color: #EC1C24;
    visibility: visible;
    display: inline;
}
.shadow.first-menu {
    height: 31rem;
    width: 24.3rem;
    position: absolute;
    top: -25rem;
    /* left: -0.1rem; */
    border-radius: 0.8rem;
    z-index: -1;
    background-color: #FF7F27;
    box-shadow: 0.1rem 0.1rem 0.3rem #EC1424, 0.3rem 0.3rem 0.5rem #1421DA, -0.1rem -0.1rem 0.3rem #EC1424;
}
/* nav menu hover settings */
nav li:hover, nav li:hover>ul, nav li ul:hover, nav li:hover ul li {
    visibility: visible;
    display: block;
    background-color: #FF7F27;
    height: 5rem;
    width: 24.3rem;
    line-height: 5rem;
}
/* nav menu focus settings - seperate from hove settings due to ie11 */
nav li:focus-within, nav li:focus-within>ul, nav li ul:focus-within, nav li:focus-within ul li {
    visibility: visible;
    display: block;
    background-color: #FF7F27;
    height: 5rem;
    width: 24.2rem;
    line-height: 5rem;
}
/* sub-menu not visible on main menu hover/focus */
nav li:hover .sub-menu {
    visibility: hidden;
    display: none;
    background-color: none;
    font-size: smaller;
    padding-left: 2.5rem;
}
nav li:focus-within li .sub-menu {
    visibility: hidden;
    display: none;
    background-color: none;
    font-size: smaller;
    padding-left: 2.5rem;
}
/* z-index allows focus outline visibility on item above, relative positon for sub-menu positioning */
.page.cv {
    position: relative;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding-bottom: 1rem;
    z-index: -1;
}
.page.cv:hover {
    border-bottom-right-radius: 0.3rem;
}
/* prevent .sub-menu parent <ul> appearing when hovered/focused */
.page.cv:hover ul {
    background-color: initial;
}
.page.cv:focus-within ul {
    background-color: initial;
}
/* display sub-menu */
.page.cv:hover .sub-menu {
    visibility: visible;
    display: block;
    background-color: #13D705;
}
.page.cv:focus-within .sub-menu {
    visibility: visible;
    display: block;
    background-color: #13D705;
}
/* shadow for sub-menu */
.page.cv ul div {
    background-color: #13D705;
    position: relative;
    width: 26.8rem;
    left: 5rem;
    border-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    box-shadow: 0.1rem 0.1rem 0.3rem, 0.3rem 0.3rem 0.3rem #EC1C24, -0.1rem -0.1rem 0.3rem;
}
.page.cv ul div li {
    background-color: #13D705;
}
.sub-menu {
    position: relative;
    z-index: 3;
}
.sub-menu:first-child {
    padding-top: 0.5rem;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}
.sub-menu:nth-child(2) {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/* end of nav */

/* first page */
#home-page {
    background-color: #FFF200C0;
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8.8rem 7rem 6.1rem 38rem 4rem;
    grid-template-areas: "title" "h2" "tag-lines" "rubiks-cube" "scroll";
}
h1, h2 {
    text-align: center;
}
h1 {
    font-family: "Zen Dots", Impact, fantasy;
    color: #13D705;
    letter-spacing: 0.22rem;
    text-align: center;
    font-size: 4.5rem;
    text-shadow: 0.2rem 0.2rem 0.4rem #2E0066 ;
    margin-left: 3rem;
    margin-top: 1.7rem;
    grid-area: title;
}
h2 {
    color: #2E0066;
    grid-area: h2;
}
.tag-line {
    padding: 0 2rem;
    color: #5100B5;
    grid-area: tag-lines;
    letter-spacing: 0.02rem;
    animation: tag-line-appear 3.5s 1.4s both;
    font-size: 1.7rem;
}
.tag-line.right {
    text-align: right;
    position: relative;
    top: 2rem;
    animation-delay: 1.9s;
}
@keyframes tag-line-appear {
    from {
        color: #FFF53F;
    }
    to {
        color: #5100B5;
    }
}
/* rubiks image */
.rubiks {
    grid-area: rubiks-cube;
    background-color: #0ED145;
    background: url(../images/rubiks-color-1.png) no-repeat center center;
    background-size: contain;
    border-radius: 0.8rem;
    position: relative;
    animation: grow-to-normal 0.6s ease-out both;
}
.holo-effect * {
    position: absolute;
    margin-left: 50%;
}
#shimmer {
    top: -1rem;
    left: -13.6rem;
    z-index: 1;
    width: 27rem;
    height: 12rem;
    background: url(../images/holo-thick2.png) no-repeat center center;
    background-size: 14rem 12rem;
    animation: holo-shimmer 0.6s 1s both;
}
.port {
    top: 10rem;
    left: -2.1rem;
    width: 4rem;
    height: 2.3rem;
    background-color: #394F4999;
    border-radius: 50%;
}
#port-hole {
    left: -1rem;
    top: 0.45rem;
    width: 2rem;
    height: 1.25rem;
    background-color: #111111CC;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.3rem dashed #394F4999;
    animation: port-grow 0.8s 0.8s both;
}
/* rubiks animations */
@keyframes grow-to-normal {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
@keyframes holo-shimmer {
    from {
        width: 0rem;
        left: 0rem;
    }
    25% {
        background: none;
    }
    32%{
        background: url(../images/holo-thin.png) no-repeat center center;
    }
    46% {
        background: none;
    }
    58%{
        background: url(../images/holo-thin.png) no-repeat center center;
    }
    74% {
        background: none;
    }
    81%{
        background: url(../images/holo-thick2.png) no-repeat center center;
    }
    to {
        width:27rem;
        background: url(../images/holo-thick2.png) no-repeat center center;
        left: -13.6rem;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
    }
}
@keyframes port-grow {
    from {
        background-color: #394F4999;
    }
    to {
        background-color: #111111CC;
    }
}

/* cube link styling */
.cube-link {
    visibility: hidden;
    display: none;
    width: 100%;
    position: relative;
}
.icon i {
    font-size: 2.8rem;
    color: #394F49;
    position:absolute;
    margin-left: 50%;
    text-shadow: 0.1rem 0.1rem 0.3rem #42BFDD;
}
.icon i:hover {
    text-shadow: 0.1rem 0.1rem 0.3rem #5500B5;
}
.icon i:active {
    text-shadow: 0.1rem 0.1rem 0.3rem #13D705;
}
.cube-link button {
    position: absolute;
    margin-left: 50%;
    height: 2.5rem;
    color: #42bfdd;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 0.4rem #394F4999 outset;
    background-color: #394F49EE;
    text-align: center;
    line-height: 1.6rem;
    z-index: 1;
    width: 13rem;
    text-transform: capitalize;
    font-family: "Orbitron", Verdana, sans-serif;
}
.cube-link button:hover {
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 0.2rem #5100B5;
}
.cube-link button:active {
    font-weight: 600;
    line-height: 2.5rem;
    color: #13D705;
    background-color: #394F49;
    border-width: 0.2rem;
}
.flat {
    background-image: url(../images/flat100.png);
    height: 10rem;
    width: 10rem;
    position: absolute;
    margin-left: 50%;
}
.angle {
    height:4rem;
    width:4rem;
    position: absolute;
    margin-left: 50%;
}
.brtl {
    background: url(../images/45-tl40.png) no-repeat;
    background-size: 4rem;
}
.bltr {
    background: url(../images/45-tr40.png) no-repeat;
    background-size: 4rem;
}
#cv {
    visibility: visible;
    display: initial;
    position: absolute;
    top: 30.3rem;
}
#cv .icon i{
    left: -3.1rem;
}
#cv button {
    left: 4rem;
    top: 2.3rem;
}
#cv .flat {
    left: 0.5rem;
    bottom: -10.5rem;
    animation: flat-grow 2s 2.7s ease-out both;
}
#cv .angle {
    bottom: -5.5rem;
    left: -1rem;
    height: 2.1rem;
    width: 2.1rem;
    animation: cv-angle-grow 0.5s 2.1s linear both;

}
@keyframes flat-grow {
    from {
        width: 0rem;
    }
    to {
        width:10rem;
    }
}
@keyframes cv-angle-grow {
    from {
        height: 0rem;
        width: 0rem;
        bottom: -3.5rem;
    }
    to {
        height: 2.1rem;
        width: 2.1rem;
        bottom: -5.5rem;
    }
}

/* scroll-prompt */
.scroll {
    padding: 0 5rem;
    grid-area: scroll;
    display: flex;
    align-items: center;
}
.scroll hr {
    border-top: 0.2rem ridge #2E0066;
    flex-grow: 1;
}
.scroll i {
    color: #2E0066;
    font-size: 3rem;
    line-height: 2.7rem;
    margin-left: auto;
    margin-right: auto;
}
.scroll button {
    position: relative;
    z-index: 1;
    margin: 0 3rem;
    width: 7.5rem;
    height: 3rem;
    border-radius: 0.6rem;
    border: 0.2rem ridge #2E0066;
    background-color: #FFF53F;
}
.scroll button:hover {
    background-color: #13D705;
}


/* @media screen and (max-width: 360px) {
#home-page {
    background-color: red;
}
}
@media screen and (max-height: 640px) {
    #rubiks {
        background-color: #5500B5;
    }
    } */