@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron&family=Turret+Road&family=Zen+Dots&display=swap');
/* 
! colors
#EFF0F1
#BBE6E4
#42BFDD
#5100B5
#2E0066
#13D705
#394F49

*rubiks colors
yel #FFF200
ora #FF7F27
red #EC1C24
gre #0ED145
blu #1421DA
*/

* {
    padding: 0;
    margin: 0;
    border: none;
}
/* font-size setting means rem*10=px */
html {
    font-size: 62.5%;
}    
body {
    font-size: 1.6rem;
    font-family: "Orbitron", sans-serif;
}
#home-page {
    background-color: #fff200c0;
}

/* header */
header {
    /* 
    monospace is the wrong font-family fall-back but is more in-keeping with the style intended
    ! need to research to see if this is an issue
     */
    font-family: "Zen Dots", monospace;
    color: #5100B5;
}
h1 {
    color: #13D705;
    letter-spacing: 0.2rem;
    margin-top: 3.7rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4.5rem;
}
/* hidden nav bar */
#nav-bar {
    visibility: hidden;
}

/* hologram effect text on homepage */
#hologram-text {
    color: #5100B5;
    width: 100%;
    padding: 0 2.5rem;
    box-sizing: border-box;
    margin-bottom: 1.2rem;
}
h2 {
    color: #2e0066;
    text-align: center;
    letter-spacing: 0.15rem;
    margin-bottom: 1.5rem;
}
#hologram-text p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.03rem;
    margin-top: 1rem;
}
#hologram-text>div:nth-child(3) {
    text-align: right;
}

/* rubiks image*/
#rubiks-home {
    margin: 0 auto;
    /* width: min(100%, 400px); */
    width: 40rem;
    height: 40rem;
    background: url(../images/rubiks-color-1.png) no-repeat center;
    background-size: 27rem;
    position: relative;
}
/* holo effect */
#shimmer {
    background-color: #13D70572;
    width: 19rem;
    height: 12rem;
    margin: 0 auto;
    /* background-image: ; */
}
#holo-port {
    background-color: #394F49;
    margin: -0.7rem auto 0;
    width: 4.2rem;
    height: 2.2rem;
    border-radius: 50%;
    padding: 0.6rem 1.1rem;
    box-sizing: border-box;
}
#holo-port>div {
    background-color: #222;
    width: 2rem;
    height: 1.047rem;
    border-radius: 50%;
}
/* link effect */
#rubiks-home i {
    color: #394f49;
    font-size: 2.2rem;
    text-shadow: #42BFDD 1px 1px 3px, -1px -1px 3px;
}
#rubiks-home .icon-holder {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 16.5rem;
    bottom: -0.5rem;
}
#rubiks-home .icon-holder:hover~i {
    text-shadow: #5100B5 0px 0px 3px, -0px -0px 3px;
}
#rubiks-home .icon-holder:active~i {
    text-shadow: #13D705 1px 1px 3px, -1px -1px 3px;
}
.cube-link {
    height: 2.2rem;
    color: #42bfdd;
    background-color: #394F49;
    text-align: center;
    line-height: 2.2rem;
}
/* download cv */
#link-cv {
    width: 100%;
    position: absolute;
    top: 31.2rem;
}
.icon.download-cv {
    text-align: center;
    margin-left: -4.3rem; 
}

.link-line.download-cv {
    background: url(../images/mob-line-cv-light.png) no-repeat center center;
    height: 4.3rem;
    width: 16.8rem;
    position: absolute;
    right: 5rem;

}
.cube-link.download-cv {
    width: 14rem;
    position: absolute;
    top: 3.2rem;
    right: 1.4rem;
}


/* scroll prompt */
#scroll-container {
    height: 7.6rem;
}
#scroll-prompt {
    background-color: #13d705;
    margin: 4.2rem auto 2.3rem;
    width: 3rem;
    height: 3rem;
    border: 1rem solid #2e0066;
    border-radius: 3rem;
    text-align: center;
    line-height: 3rem;
    color: #5100b5;
    
}
.line {    
    width: 40%;
}
.line hr {
    border-top: 3px solid #2e0066;
    width: 75%;
    margin: -4.8rem auto 4rem;
}
.line.left {
    float: left;
    padding-left: 1rem; 
}
.line.right {
    float: right;
    padding-right: 1rem;
}



